[Unit]
Description=dht exporter
After=network.target

[Service]
ExecStart=/opt/dht_exporter/dht_exporter.py -g 4 -r 'room name'

[Install]
WantedBy=default.target

