[Unit]
Description=dht exporter
After=network.target

[Service]
ExecStart=/opt/dht_exporter/dht_exporter.py -g ${GPIO_PINS} -r '${ROOMS}'

[Install]
WantedBy=default.target

