[Unit]
Description=dht to MQTT
After=network.target

[Service]
Restart=on-failure
RestartSec=50s

ExecStart=/opt/dht_exporter/dht_to_mqtt.py -p ${REFRESH_EVERY_S} -g ${GPIO_PINS} -r '${ROOMS}' -m ${MQTT_IP} -mp ${MQTT_PORT} -t ${MQTT_PREFIX}

[Install]
WantedBy=default.target

